.body {
    margin: 0;
    padding: 0;
    width: 100vw;
}


.bck-img-container {
    margin: 0;
    height: 35em;
    width: 100%;
    background-image: url('../../../img/girl-smiling.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.home-title {
    padding-left: 10em;
    padding-top: 10em;
    width: 1em;
}

.section2 {
    padding-top: 1em;
    border: 1px solid black;
    height: 10em;
}

.section2-text {
    width: 80%;
}

