.bookAppFormBody {
    height: 75vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formBookApp {
    /* width:36em !important; */
    height: 20em;
    padding: 5em;
    background-color: var(--blue-light);
    border-radius: 0.3em;
    display:flex;
    flex-direction: column;
    justify-content: center;
    box-shadow:  0px 0px 10px 2px rgba(0,0,0,0.13);
}

