
.profileMainDesign {
    height: 70vh;
    width:100vw;
    display:flex;
    justify-content: center;
    flex-direction: column;
   
    
}

.profileContainerDesign {
    
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.fieldDesign {
    border-radius: 0.5em;
    padding:0.5em;
    background-color: var(--blue-light);
    margin: 0.5em;
    width:20em;
}

.nameDesign {
    font-size:2em;
}