
.registerContent {

    height:100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.registerFormBox {
    padding: 1em;
    max-width: 60%;
    border: 0.05em solid blue;
    border-radius: 1em;
    background-color: rgb(242, 242, 253);
}

.inputBasicDesign {
    width: 100%;
}

.inputErrorDesign {
border: 0.1em solid red;
background-color: rgb(252, 205, 205);
}

.registerSendDeac {
border-radius: 0.5em;
border: 0.1em solid blue;
background-color: blue;
color: white
}

.registerSendDeac:hover {
    background-color: rgb(132, 132, 217);
    
}

.registerContainerDesign {
    padding: 2em;
    background-color: var(--blue-light);
    border-radius: 0.3em;
    display:flex;
    justify-content: center;
    flex-direction: column;
    box-shadow:  0px 0px 10px 2px rgba(0,0,0,0.13);
}

.welcomeMsgContainerDesign {
    margin-top: 5em;
    position: relative;
    height: 75vh;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}