
.registerFormBody {
    position: relative;
    height: 75vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
   
}

.registerContent {
    background-image: url(../../img/tooth-tools.png);
    background-repeat: no-repeat;
    background-size: contain;
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.registerFormBox {
   
    padding: 2em;
    width: 50%;
    margin-left:5em;
    border: 0.05em solid blue;
    border-radius: 1em;
    background-color: rgb(242, 242, 253);
}

.inputBasicDesign {
    width: 100%;
}

.inputErrorDesign {
border: 0.1em solid red;
background-color: rgb(252, 205, 205);
}

.registerSendDeac {
border-radius: 0.5em;
border: 0.1em solid blue;
background-color: blue;
color: white
}

.registerSendDeac:hover {
    background-color: rgb(132, 132, 217);
    
}

