





.userCardDesign {
    margin: 1em;
    height: 10em;
    width: 30em;
    background-color: rgb(203, 203, 203);
    border: 0.05em grey solid;
}

.userCardDesign:hover{
    background-color: rgb(252, 252, 252);
    cursor: pointer;
}