:root {
    --blue-dark: #1D3557;
    --blue-middle-dark:#457B9D;
    --blue-middle-light: #A8DADC;
    --blue-light: #F1FAEE;
    --red: #E63946;
}

body {
    /* font-family: 'Rubik', sans-serif; */
    font-family: 'Ubuntu', sans-serif;

}

.buttonDesign {
    height: 2em;
    width: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-dark);
    color: white;
    border-radius: 0.5em;
    cursor: pointer;
    transition: 1s;
}

.buttonDesign:hover {
    box-shadow: 0 0 3px 3px rgb(137, 154, 222);
    border: 0.05em solid var(--blue-dark);
    background-color: rgb(151, 151, 193);
    transition: 1s;
}

.inputsDesignCommon:hover {
    box-shadow: 0 0 3px 3px rgb(137, 154, 222);
    transition: 1s;
}


.formContainerDesign {
    padding: 2em;
    background-color: var(--blue-light);
    border-radius: 0.3em;
    display:flex;
    justify-content: center;
    flex-direction: column;
    box-shadow:  0px 0px 10px 2px rgba(0,0,0,0.13);
}