:root {
    --blue-dark: #1D3557;
    --blue-middle-dark:#457B9D;
    --blue-middle-light: #A8DADC;
    --blue-light: #F1FAEE;
    --red: #E63946;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.defaultPageHeight {
    min-height: 65vh;
}

.buttonDesign {
    height: 2em;
    width: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-dark);
    color: white;
    border-radius: 0.5em;
    cursor: pointer;
    transition: 1s;
    text-decoration: none;
}

.buttonDesign:hover {
    box-shadow: 0 0 3px 3px rgb(137, 154, 222);
    border: 0.05em solid var(--blue-dark);
    background-color: rgb(151, 151, 193);
    transition: 1s;
}

.inputsDesignCommon:hover {
    box-shadow: 0 0 3px 3px rgb(137, 154, 222);
    transition: 1s;
}


.formContainerDesign {
    padding: 2em;
    background-color: var(--blue-light);
    border-radius: 0.3em;
    display:flex;
    justify-content: center;
    flex-direction: column;
    box-shadow:  0px 0px 10px 2px rgba(0,0,0,0.13);
}

.cardsContainer {
    width: 95vw;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nameFieldDesign {
    font-weight: 900 ;
}


.userCardDesign {
    margin: 1em;
    width: 30em;
    height: 10em;
    padding: 2em;
    background-color: var(--blue-light);
    border-radius: 0.3em;
    display:flex;
    justify-content: center;
    flex-direction: column;
    box-shadow:  0px 0px 10px 2px rgba(0,0,0,0.13);
}


.userCardDesign:hover{
    background-color: rgb(252, 252, 252);
    cursor: pointer;
    border: 0.05em grey solid;

}
